.item-list-container{

    display: flex;
    flex:1;
    padding:20px;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}
.boton-click{
    
    width: 100vw;
    height: 20px;
}