
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.card {
  display: flex;
  flex-direction: row;
  align-items: center;
width: 70vw;
  height: 50vh;
  background-color: #adcacb2b;
  font-family: 'Quicksand', sans-serif;
  font-weight: regular;
  color:#ffffff;
  font-size: 1em;
}

.card>p{
  font-weight: bold;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: max-content;

}
.hour{
  font-family: 'Quicksand', sans-serif;
  font-size: 4em;
  margin:.5em 0;
}
