

.card{
  width: 60vw;
  height: 50vh;
  background-color: #ffffff1b;
  border-radius: 10px;
  border:1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto 0;
}

.card>h1{
  font-size: 5em;
}
