*
{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87C159;
  background-image: url(./assets/background/backtgroun-one.jpg);
}